<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <main class="container">
      <div class="row">
        <div class="col-12">
          <h1>Cadastro</h1>
        </div>
        <div class="col-12">
          <% if(typeof errors !== 'undefined'){ %>
            <ul>
            <% for(let error in errors) { %>
            <li>
              <b><%= error %>:</b>
              <%= errors[error].msg %>
            </li>
            <% } %>
            </ul>
          <% } %>
          <form method="POST" action="/cadastro" enctype="multipart/form-data">
            <div class="mb-3">
              <label class="form-label">Nome Completo</label>
              <input type="text" class="form-control" name="nome">
            </div>
            <div class="mb-3">
              <label class="form-label">Foto de perfil</label>
              <input type="file" class="form-control" name="fotoPerfil">
            </div>
            <div class="mb-3">
              <label class="form-label">Email</label>
              <input type="email" class="form-control" name="email">
            </div>
            <div class="mb-3">
              <label class="form-label">Senha</label>
              <input type="password" class="form-control" name="senha">
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
          </form>
        </div>
      </div>

    </main>
  </body>
</html>
