<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Cadastro de Usuario</h1>
    <form action="/usuarios/criar" method="POST">
        <h3>Nome</h3>
        <input type="text" name="nome" id="">
        <h3>Email</h3>
        <input type="email" name="email" id="">
        <h3>Senha</h3>
        <input type="password" name="senha" id="">
        <button type="submit">Enviar</button>
    </form>
    
</body>
</html>